<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TEST OAuth 2.0</title>
</head>
<body>

<h1>Login</h1>

<div>Login via the <a href="/oauth2/authorization/google">Google</a></div>
<div>Login via the <a href="https://oauth2.googleapis.com/token">Google2</a></div>
<div>Login via the <a href="/login/oauth2/code/google">Google3</a></div>
</body>
</html>